.dashbord-header-container {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dashbord-header-btn {
    padding: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: black;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid rgb(198, 7, 7);
    background-color: ghostwhite;
}
.dashbord-header-btn:hover {
    color: ghostwhite;
    border: 1px solid rgb(198, 7, 7);
    background-color: rgb(198, 7, 7);
}
.dashbord-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dashbord-header-icon {
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.dashbord-header-avatar {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
}